<form class="authentication-form">
    <h2 class="reg-title">Registration</h2>
    <div class="form-group">
        <label class="credentials-name" for="command-id">Идентификатор команды:</label>
        <input class="credentials-input" id="command-id" name="command-id">
    </div>
    <div class="form-group">
        <label class="credentials-name" for="username">Имя пользователя:</label>
        <input class="credentials-input" type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label class="credentials-name" for="password">Пароль:</label>
        <input class="credentials-input" type="password" id="password" name="password" required>
    </div>
    <button class="auth-btn" type="submit">Создать пользователя</button>
</form>
