<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Treasure map</title>
    <link href="/styles/main-page.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="main-container">

    <div class="upper-part main-container">
        <div class="search-container">
        </div>
        <div class="profile-menu">
            <div class="nickname"> Corsair</div>
            <div class="turn-to-map"> Treasure map</div>
            <div class="sign-in-btn"> Sign in</div>
        </div>
    </div>

    <div class="middle-container main-container">
        <div class="registration-form">
            <div class="title">
                Registration
            </div>
            <div class="cred-container">
                <input class="username-input" type="text" name="username" placeholder="Username"/>
                <input class="password-input" type="password" name="password" placeholder="Password"/>
            </div>
            <div id="text-container"></div>
            <input id="registration-btn" type="submit" value="Registration">
        </div>
    </div>

    <div class="lower-part main-container">
    </div>

</div>
</body>

<script src="/js/jquery-3.7.0.min.js"></script>
<script src="/js/main-page.js"></script>

</html>
