# Игнорировать
*.pyc
*.pyo
*!*.txt
*.txt
*.sqlite
*.log
*.db

**/__pycache__/
**/.vscode/
**/instance/
**.code-workspace

# Игнорировать каталог с файлами настройки
**/config/

# Игнорировать каталог с исполнимыми файлами и модулями (если таковой имеется)
**/bin/
**/venv/