{% extends 'base.html' %}

{% block title %}
TaskState
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}
    <p class="lead text-success"> <b> # Task list >>> </b> </p>
    {% if tasks.items|length > 0 %}
    <table class="table table-dark text-success">
        <thead>
            <tr>
                <th scope="col">#id</th>
                <th scope="col">Date</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Owner</th>
                <th scope="col">Executor</th>
                <th scope="col">Private</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for el in tasks.items %}
            <tr>
                <td>{{ el.tid }}</td>
                <td>{{ el.date.strftime('%d-%m-%Y') }}</td>
                <td>{{ el.title }}</td>
                <td>{{ el.description }}</td>
                <td> // <b>{{ el.TS_User.login }}</b> </td>
                <td> // {{ el.uid2 }} </td>
                <td> {{ el.private }} </td>
                <td><b> {{ tstatus[el.kstatus] }} </b></td>
                <td><a href="/task/{{ el.tid }}" class="btn btn-warning" title="Read">*R</a><a href="/task/{{ el.tid }}/towork" class="btn btn-success" title="Take to work">*To_work</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="alert alert-success" role="alert"> {{ pagination.links }} </div>
    {% else %}
        <p class="lead text-success"> !!! Task not found</p>
    {% endif %}
{% endblock %}