<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='./favicon.ico')}}">
    <title>Monitoring System</title>
</head>

<body background="static/Interfeys_7.png" style="width: 100%;"></body>

<div class="zone1">
    <button class="cyber-button1">
        <a href="/dblogin" style="text-decoration: none; font-family: Oxanium;;">Weapon Storage</a>
    </button>        
</div>

<div class="zone2">
    <button class="cyber-button2">
        <a href="/dblogin2" style="text-decoration: none; font-family: Oxanium;">System ship firmware</a>    
    </button>        
</div>

<div class="weapon_zone">  
    <p class="weap_count_text">State of the weapon system</p>
    <p class="weap_count"> {{weapon_counter}} </p>
</div>

</body>
</html>